h2 {
    color: purple;
    font-family: sans-serif;
   }
li {
    color: red;
    font-weight: bold;
   }
div {
    background-color: teal;
    width: 500px;
    height: 400px;
    border: 3px solid blue;
    margin: 50px;
    }
th,td {
       border: 1px solid black;
       padding: 5px;
      }
table {
       border-collapse: collapse;
       border: 2px solid black;
      }
th {
   background-color: lightgray;
   font-family: sans-serif;
   }
button {
        background-color: blue;
        color: white;
        font-family: sans-serif;
        font-weight: bold;
        padding: 10px;
        border-radius: 15px;

       }
